# build artefacts
build
dist
target
tmp
jsdoc

# User project configuration
.env

# Eclipse
.project
.classpath
.settings/
.launch
.launch/

# Netbeans
nb-configuration.xml

# IntelliJ
.idea/
*.iml/
*.iws

# visual studio code
.vscode
.vscode/tasks.json

# Mac
.DS_Store

# Maven
target/

# Node
node_modules
npm-debug.log
debug.log
package-lock.json

# bower
bower_components

# eslint
eslint.log
eslint.tap

# Other
log
bin

# From WebIDE
fioriHtmlRunner.html
.*/fioriHtmlRunner.html
visual_ext_index.html
/webapp/visual_ext_index.html
extended_runnable_file.html
.*/extended_runnable_file.html
sap-ui-cachebuster-info.json
mock_preview_sapui5.html
.*/mock_preview_sapui5.html
UIAdaptation_index.html
changes_preview.js
AppVariant_index.html
AppVariantPreviewPayload.zip
mergedManifestDescriptor.json
APIExternalProducer.js
.*/APIExternalProducer.js
/mta_archives/
